@page "/projects/{Id}/tasks/create"
@using Ackee.Data.Model
@using Ackee.Shared.Components.UI.Spinner
@using Ackee.Shared.Components.ProjectDashboard.Tasks.CreateTaskForm
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

@if (project != null)
{
    <DashboardLayout Project="@project"
                     PageName="create task"
                     PageRoute="@($"/projects/{Id}/tasks/create")"
                     PageRouteCustomIndexes=@(new List<int> { 1 })
                     PageRouteCustomNames=@(new List<string>() { project.ProjectName })>
        <div class="tasks_content">
            <CreateTaskFormComponent Project="@project" Members="@members" Milestones="@milestones" />
        </div>
    </DashboardLayout>
}
else
{
    <SpinnerComponent />
}

@code {
    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    public string Id { get; set; }

    private AspNetProjects project = null;
    private List<AspNetMilestones> milestones = null;
    private List<ApplicationUser> members = null;

    private ApplicationUser currentUser = null;
    System.Security.Claims.ClaimsPrincipal CurrentUser;

    // Get project object by project ID. If loaded, display it.
    protected override async Task OnInitializedAsync()
    {
        CurrentUser = (await authenticationStateTask).User;
        await RefreshUser();
        await RefreshProject();
        await RefreshMembers();
        await RefreshMilestones();
        StateHasChanged();
    }

    private async Task RefreshProject()
    {
        project = null;
        project = await (new HttpClient()).GetJsonAsync<AspNetProjects>($"http://localhost:53508/api/projects/{Id}");


        if (!CurrentUserIsMemberOfProject())
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task RefreshUser()
    {
        currentUser = await (new HttpClient()).GetJsonAsync<ApplicationUser>($"http://localhost:53508/api/users/{CurrentUser.Identity.Name}");
    }

    private async Task RefreshMilestones()
    {
        milestones = await (new HttpClient()).GetJsonAsync<List<AspNetMilestones>>($"http://localhost:53508/api/projects/{project.ProjectID}/milestones");
    }

    private async Task RefreshMembers()
    {
        members = await (new HttpClient()).GetJsonAsync<List<ApplicationUser>>($"http://localhost:53508/api/projects/{project.ProjectID}/members");
    }

    private bool CurrentUserIsMemberOfProject()
    {
        foreach (var userProject in project.UserProjects)
        {
            if (currentUser.Id == userProject.UserId)
            {
                return true;
            }
        }

        return false;
    }
}
