@page "/projects/{ProjectId}/tasks/{TaskId}"
@using Ackee.Data.Model
@using Ackee.Shared.Components.ProjectDashboard.Tasks.UpdateTaskForm
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

@if (project != null && task!= null && milestones != null && members != null)
{
    <DashboardLayout Project="@project"
                     PageName="@task.TaskName"
                     PageRoute="@($"/projects/{ProjectId}/tasks/{TaskId}")"
                     PageRouteCustomIndexes=@(new List<int> { 1, 3 })
                     PageRouteCustomNames=@(new List<string>() { project.ProjectName, task.TaskName })>
        <div class="tasks_content">
            <UpdateTaskFormComponent Project="@project"
                                     CurrentTask="@task"
                                     Milestones="@milestones"
                                     Members="@members" 
                                     OnSuccess="async () => await RefreshTask()"
                                     OnUpdateTask="async () => await RefreshTask()"/>
        </div>
    </DashboardLayout>
}

@code {
    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    [Parameter]
    public string ProjectId { get; set; }

    [Parameter]
    public string TaskId { get; set; }

    private AspNetProjects project = null;
    private AspNetTasks task = null;
    private List<AspNetMilestones> milestones = null;
    private List<ApplicationUser> members = null;

    private ApplicationUser currentUser = null;
    System.Security.Claims.ClaimsPrincipal CurrentUser;

    // Get project object by project ID. If loaded, display it.
    protected override async Task OnInitializedAsync()
    {
        CurrentUser = (await authenticationStateTask).User;
        await RefreshUser();
        await RefreshProject();
        await RefreshTask();
        await RefreshMembers();
        await RefreshMilestones();
        StateHasChanged();
    }

    private async Task RefreshProject()
    {
        project = await (new HttpClient()).GetJsonAsync<AspNetProjects>($"http://localhost:53508/api/projects/{ProjectId}");


        if (!CurrentUserIsMemberOfProject())
        {
            NavigationManager.NavigateTo("/");
        }
    }

    private async Task RefreshTask()
    {
        task = await (new HttpClient()).GetJsonAsync<AspNetTasks>($"http://localhost:53508/api/tasks/{TaskId}");
        StateHasChanged();
    }

    private async Task RefreshMilestones()
    {
        milestones = await (new HttpClient()).GetJsonAsync<List<AspNetMilestones>>($"http://localhost:53508/api/projects/{project.ProjectID}/milestones");
    }
    
    private async Task RefreshMembers()
    {
        members = await (new HttpClient()).GetJsonAsync<List<ApplicationUser>>($"http://localhost:53508/api/projects/{project.ProjectID}/members");
    }

    private async Task RefreshUser()
    {
        currentUser = await (new HttpClient()).GetJsonAsync<ApplicationUser>($"http://localhost:53508/api/users/{CurrentUser.Identity.Name}");
    }

    private bool CurrentUserIsMemberOfProject()
    {
        foreach (var userProject in project.UserProjects)
        {
            if (currentUser.Id == userProject.UserId)
            {
                return true;
            }
        }

        return false;
    }
}

