@using Ackee.Data.Model
@inject Ackee.Shared.Services.StringManipulationService StringManipulationService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<div class="leftMenu">
    <div class="leftMenu_projectIcon">
        <h1>@StringManipulationService.GetStringAbbreviation(Project.ProjectName)</h1>
    </div>
    @if (Project != null)
    {
        <p class="leftMenu_projectName">@Project.ProjectName</p>
    }
    <div class="leftMenu_navigation">
        <ul>
            <li class='@(PageName.Equals("dashboard") ? "active" : "")' @onclick='() => NavigateToProjectPage("")'>Dashboard</li>
            <li class='@(PageName.Equals("calendar") ? "active" : "")' @onclick='() => NavigateToProjectPage("calendar")'>Calendar</li>
            <li class='@(PageName.Equals("milestones") ? "active" : "")' @onclick='() => NavigateToProjectPage("milestones")'>Milestones</li>
            <li class='@(PageName.Equals("tasks") ? "active" : "")' @onclick='() => NavigateToProjectPage("tasks")'>Tasks</li>
            <li class='@(PageName.Equals("progress") ? "active" : "")' @onclick='() => NavigateToProjectPage("progress")'>Progress</li>
            <li class='@(PageName.Equals("settings") ? "active" : "")' @onclick='() => NavigateToProjectPage("settings")'>Settings</li>
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public string PageName { get; set; }

    [Parameter]
    public AspNetProjects Project { get; set; }

    private void NavigateToProjectPage(string pageName)
    {
        NavigationManager.NavigateTo($"/project/{Project.ProjectID}/{pageName}");
    }
}
