<button class="button 
        @(ActionButton ? "button_actionButton" : "")
        @(Round ? "button_round" : "")
        @(Padding ? "button_padding" : "")
        @(FontSmaller ? "button_fontSmaller" : "")
        @(Uppercase ? "button_uppercase" : "")
        " @onclick=@HandleOnClick>
    @ChildContent
</button>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool ActionButton { get; set; } = false;

    [Parameter]
    public bool Round { get; set; } = false;

    [Parameter]
    public bool Padding { get; set; } = false;

    [Parameter]
    public bool FontSmaller { get; set; } = false;

    [Parameter]
    public bool Uppercase { get; set; } = false;

    [Parameter]
    public Action OnClick { get; set; }

    private void HandleOnClick()
    {
        OnClick?.Invoke();
    }
}
