@page  "/overview"
@using Ackee.Data.Model
@using Ackee.Shared.Components.UI.ProjectListItem
@using Ackee.Shared.Components.UI
@using Ackee.Shared.Components.UI.Modal
@using Ackee.Shared.Components.ProjectsOverview.CreateProjectForm
@*@using Ackee.Data.Controllers*@
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager


    <main class="mainLayout_main__maxWidth">
        <div class="projectsOverview">
            <div class="projectsOverview_header">
                <h3>Projects</h3>
                <Button ActionButton Round Padding FontSmaller Uppercase OnClick="() => ShowModal()">Add a project</Button>
            </div>

            <div class="projectsOverview_navigation">
                <ul>
                    <li class="@(_selectedTab.Equals("ALL") ? "active" : "")" @onclick='() => OnSelectTab("ALL")'>
                        ALL
                    </li>
                    <li class="@(_selectedTab.Equals("MY TASKS") ? "active" : "")" @onclick='() => OnSelectTab("MY TASKS")'>
                        MY TASKS
                    </li>
                </ul>
            </div>

            <div class="projectsOverview_content">
                @if (_selectedTab.Equals("ALL"))
                {
                    if (_projects != null)
                        @foreach (var project in _projects)
                        {
                            <ProjectListItemComponent ProjectName="@project.ProjectName" ProjectID="@project.ProjectID" />
                        }
                    }
                    else
                    {
                        <h1>My personal tasks</h1>
                    }
            </div>
        </div>
        @if (_currentUser != null)
        {
            <ModalWithBackdropComponent Show="@_showModal" Header="Add A Project">
                <CreateProjectFormComponent UserId="@_currentUser.Id" OnSuccess="async () => await RefreshProjects()"/>
            </ModalWithBackdropComponent>
        }
    </main>

@code {
    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    private string _selectedTab = "ALL";
    private bool _showModal = false;
    private List<AspNetProjects> _projects;

    private ApplicationUser _currentUser = null;
    System.Security.Claims.ClaimsPrincipal CurrentUser;

    protected override async Task OnInitializedAsync()
    {
        CurrentUser = (await authenticationStateTask).User;
        await RefreshUser();
        //while (_currentUser == null)
        //{
        //    await Task.Delay(25);
        //}
        await RefreshProjects();
    }

    private async Task RefreshUser()
    {
        _currentUser = await (new HttpClient()).GetJsonAsync<ApplicationUser>($"http://localhost:53508/api/users/{CurrentUser.Identity.Name}");
    }

    private void OnSelectTab(string tab)
    {
        _selectedTab = tab;
    }

    private void ShowModal()
    {
        _showModal = true;
        StateHasChanged();
    }

    private async Task RefreshProjects()
    {
        _projects = await (new HttpClient()).GetJsonAsync<List<AspNetProjects>>($"http://localhost:53508/api/projects/user/{_currentUser.Id}");
        StateHasChanged();
    }
}
